<%- include("../template/cabecera",{tituloWeb: 'Informacion del estudiante'}) %>

    <div class="container">
        <h1>Informacion del estudiante</h1>
        <% if(error){%>
            <p>
                <%= mensaje %>

            </p>
            <a href="/estudiantes" class="btn btn-dark btn-blovk">Volver a Estudiantes</a>
            <% } %>

                <% if(!error) {%>

                    <form id="formularioEditar" data-id=<%=estudiante.id %>>
                        <input type="text" class="form-control my-2" name="nombre" value="<%= estudiante.nombre %>" id="nombreInput">
                        <input type="text" class="form-control my-2" name="universidad" value="<%= estudiante.universidad %>" id="universidadInput">
                        <input type="text" class="form-control my-2" name="codigo" value="<%= estudiante.codigo %>" id="codigoInput">
                        <input type="text" class="form-control my-2" name="sexo" value="<%= estudiante.sexo %>" id="sexoInput">

                        <button class="btn btn-warning btn-block" type="submit">Editar</button>
                    </form>
                    <hr>
                    <button class="btn btn-danger btn-sm mt-5" id="btnEliminar" data-id=<%=estudiante.id %>>
                        Eliminar
                    </button>

                    <% } %>
    </div>

    <%- include("../template/footer") %>

        <script>
            const btnEliminar = document.querySelector('#btnEliminar'); //Usando DOM Capturamos el btnEliminar

            btnEliminar.addEventListener('click', async() => { //Si se hace click en el boton eLiminar
                // console.log('me diste click');
                const id = btnEliminar.dataset.id;
<<<<<<< HEAD:views/detalle.ejs
                // console.log('id', id);
=======

>>>>>>> af060d9fac10c05d38f8e6c2b0aec4a4032c06f6:views/informacion.ejs
                try {
                    const data = await fetch(`/estudiantes/${id}`, {
                        method: 'delete'
                    })

                    const res = await data.json() //Obtenemos una respuesta en json
                    if (res.estado) {
                        window.location.href = '/estudiantes'
                    } else {
                        console.log(res)
                    }
                } catch (error) {
                    console.log(error)
                }
            })


            const formularioEditar = document.querySelector('#formularioEditar');

            formularioEditar.addEventListener('submit', async(e) => { // ("Se activa cuando el formulario es enviado")
                e.preventDefault()

                const nombre = formularioEditar.elements['nombre'].value
                const universidad = formularioEditar.elements['universidad'].value
                const codigo = formularioEditar.elements['codigo'].value
                const sexo = formularioEditar.elements['sexo'].value

                const id = formularioEditar.dataset.id

                try {
                    const data = await fetch(`/estudiantes/${id}`, {
                        method: 'put',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ // convierte un objeto o valor de JavaScript en una cadena de texto JSON
                            nombre,
                            universidad,
                            codigo,
                            sexo,
                        })
                    })
                    const res = await data.json()

                    if (res.estado) {
                        window.location.href = '/estudiantes'
                    } else {
                        console.log(res)
                    }
                } catch (error) {
                    console.log(error)
                }
            })
        </script>